spring:
  application:
    name: payroll-service
  cloud:
    stream:
      default:
        content-type: application/json

server:
  port: 8084

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

logging:
  level:
    org.springframework.web: INFO
    org.springframework.cloud.stream: DEBUG
    org.springframework.integration: DEBUG
    org.springframework.kafka: DEBUG

---
# 4. LOGICA: COREOGRAFIA (Define OS NOMES dos Topicos)
spring:
  config:
    activate:
      on-profile: choreography
  cloud:
    function:
      definition: validateSalary
    stream:
      bindings:
        validateSalary-in-0:
          destination: employee-events
          group: payroll-group
        validateSalary-out-0:
          destination: employee-results

---
# 5. LOGICA: ORQUESTRACAO (Define os Topicos da Saga)
spring:
  config:
    activate:
      on-profile: orchestration
  cloud:
    function:
      definition: processSalaryCommand
    stream:
      bindings:
        processSalaryCommand-in-0:
          destination: payroll-commands
          group: payroll-orchestration-group
        processSalaryCommand-out-0:
          destination: saga-replies

---
# 6. INFRA: RABBITMQ
spring:
  config:
    activate:
      on-profile: rabbit
  rabbitmq:
    host: localhost
    port: 5672
  cloud:
    stream:
      default-binder: rabbit
      rabbit:
        bindings:
          validateSalary-in-0:
            consumer:
              exchangeType: topic
              bindingRoutingKey: '#'
              autoBindDlq: true
          validateSalary-out-0:
            producer:
              exchangeType: topic
              routingKeyExpression: headers['myRoutingKey']

---
# 7. INFRA: KAFKA (A Configuracao Nova)
spring:
  config:
    activate:
      on-profile: kafka
  cloud:
    stream:
      default-binder: kafka
      kafka:
        binder:
          brokers: localhost:9092
          auto-create-topics: true
          replication-factor: 1
        bindings:
          validateSalary-in-0:
            consumer:
              startOffset: latest

          processSalaryCommand-in-0:
            consumer:
              startOffset: latest